<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white shadow-lg rounded-xl p-8 w-full max-w-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
    <form class="space-y-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
        <div *ngIf="f['email'].touched && f['email'].invalid" class="error">
          <small *ngIf="f.email.errors?.['required']">Email é obrigatório.</small>
          <small *ngIf="f.email.errors?.['email']">Formato inválido.</small>
        </div>
      </div>

      <div>
        <label for="password">Senha</label>
        <input id="password" type="password" formControlName="password" />
        <div *ngIf="f['password'].touched && f['password'].invalid" class="error">
          <small *ngIf="f.password.errors?.['required']">Password is required</small>
        </div>
      </div>

      <button type="submit" [disabled]="loading || loginForm.invalid">
        {{ 'Log-in' }}
      </button>

      <div *ngIf="errorMessages.length > 0" class="text-red-500 text-sm mb-4">
        <ul>
            <li *ngFor="let error of errorMessages">{{ error }}</li>
        </ul>
      </div>
    </form>
  </div>
  
</div>
