<nav class="bg-blue-600 text-white px-6 py-4 flex justify-between items-center shadow-md">

  <a routerLink="/courses" class="text-xl font-bold tracking-wide hover:text-gray-200">
    MyCourses
  </a>

  <div class="flex gap-4 items-center">

    <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
      <a routerLink="/login" class="hover:text-gray-300">Login</a>
      <a routerLink="/register" class="hover:text-gray-300">Registrar</a>
    </ng-container>

    <ng-template #loggedIn>
      <a routerLink="/enrollments" class="hover:text-gray-300">Enrollments</a>
      <a routerLink="/dashboard" class="hover:text-gray-300">Dashboard</a>
      <button (click)="logout()" class="hover:text-gray-300">Logout</button>
    </ng-template>
  </div>
</nav>

